# Auto detect text files and perform LF normalization
* text=auto
*cypress_.obj filter=lfs diff=lfs merge=lfs -text
*tx_Cadillac_ATS_normal.TGA filter=lfs diff=lfs merge=lfs -text
*cypress_.max filter=lfs diff=lfs merge=lfs -text
